body{
    box-sizing: border-box;
    margin: 0;
}

nav{
    display: flex;
    padding: 20px;
    align-content: space-between;
    justify-content: space-between;
    background-color: #E8F0F2;
}
nav a{
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0 10px;
    color: #053742;
}
nav a:hover{
   
    color: #39A2DB;
    
}
.sidebar{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 10;
    background-color: #053742;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.sidebar a{
    color: #E8F0F2;
    margin: 5px;
    
}
.user-img{
    height: 4rem;
    margin-right: 10px;
}
.user-details{
    
    display: flex;
    margin-right: 10px;
}
.user-name{
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
.user-name a{
    display: block;
    font-size: 1.5rem;
    text-align: right;

}
.user-name a:hover{
    border-bottom: none;
}
input{
    font-size: 2rem;
    padding: 10px 50px;
}
textarea{
    font-size: 2rem;
    resize: none;
    height: 300px !important;
}
.mail-form{
    margin:0 10px 0 0;
    margin-left: 100px;    
    padding: 20px;
}


.mail-form button{
    display: block;
    background-color: #053742;
}
.mail-form button:hover{
    display: block;
    background-color: white;
    color: black;
}
.check-recuring{
    display: flex;
}
.check-recuring div{
   margin: 10px;
}
.check-recuring label{
    display: inline;
}
.dis{
    width: 300px;
}
.recipient h2{
    font-weight: bold;
}
.addnew{
    display: flex;
}

.addnew button{
    font-size: large;
}
#addtext{
    width: 400px;
    margin-right: 10px;
}
input[type='checkbox']{
    height: 20px;
    width: 20px;
}
.rec{
    padding: 10px;
}
.rec label{
    display: inline;
}
#recips{
    margin-top: 20px;
}
@media screen and (max-width:1000px) {
    nav{
        display: flex;
        flex-direction: column;
    }
    .content{
        display: flex;
        align-content: space-between;
        justify-content: space-between;
        
    }
    .user-details{
        justify-self: flex-end;
        align-self: flex-end;
        margin-top: 20px;
    }
    .user-name{
        text-align: right;
    }
    .check-recuring{
        display: flex;
        flex-direction: column;
    }
}